<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Equipos Venta</h1>

        <p class="lead" jhiTranslate="home.subtitle">Elige que equipos quieres ver si portatil o uno de escritorio(torre grande)</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
            </div>
        </div>
        <div>
            <button type="button"
                    class="btn btn-info btn-lg">
                <fa-icon icon="eye"></fa-icon>
                <span class="btn btn-info btn-lg">Equipos de escritorio</span>
            </button>
            <button type="button"
                    class="btn btn-danger btn-lg">
                <fa-icon icon="eye"></fa-icon>
                <span class="btn btn-danger btn-lg">Equipos portatiles</span>
            </button>
        </div>
        <div>
            <img class="escritorio" src="../../content/images/escritorio.jpg">
            <img class="portatil" src="../../content/images/portatil.jpg">
            <style>
                .escritorio {padding: 10px; margin: 10px;
                    border: 2px; float: left; width:250px; height:250px}
                .portatil {padding: 10px; margin: 20px;
                    border: 2px; float: left; width:250px; height:250px}
            </style>
        </div>
    </div>
</div>
